<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body> -->
{% extends 'base/base.html' %}

{% block content %}
<br>
<div class="container-fluid">
<!-- <div class="col-4"> -->
Добро пожаловать в {{ title }}.  <br>
Тут собрано {{ books|length }} книг из моей личной коллекции.
<table border="1">
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Обложка</th>
        <th>ISBN</th>
        <th>Описание</th>
        <th>Год</th>
        <th>Автор</th>
        <th>Страна</th>
        <th>Кол-во</th>
        <th>Издатель</th>
        <th>Должники</th>
        <th>Изменить количество</th>

    </tr>
    {% for book in books %}
        <tr>            
            <td>{{ forloop.counter }}</td>
            <td>{{ book.title }}</td>

            <td>
                {% if book.image %}
                   <img src="{{ book.image.url }}" width="70px" height="102px">
                {% endif %}
            </td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ book.author.country }}</td>
            <td>{{ book.copy_count }}</td>
            <td>{{ book.publisher }}</td>
            <td>
                <ul style= "padding-left: 0">
                    {% for friend in book.friend_set.all %}
                        <li style = "list-style-type: none;"> {{ friend.name }}</li>
                        <br>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Увеличить кол-во" />
                </form>
                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Уменьшить кол-во" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<!-- </div> -->
</div>
{% endblock %}

{% block title %}
    <title>Книги</title>
{% endblock %}

<!-- </body>
</html> -->